.vb__item {
    list-style: none;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    white-space: nowrap;
    text-transform: capitalize;
    color: #222;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
}

.vb__link {
    text-decoration: none;
    color: #666;
    display: block;
    font-size: 1em;
    position: relative;
    margin: 0 7px;
    height: 37px;
    line-height: 37px;
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    white-space: nowrap;
    text-transform: capitalize;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
}

.vb__link:hover {
    text-decoration: none;
    color: #333;
}

.vb__link:focus {
    outline: none;
}

.vb__link:active {
    text-decoration: none;
    color: #111;
}

.vb__sep {
    padding: 0;
    height: 37px;
    line-height: 37px;
    margin-left: -2px;
    margin-right: -1em;
    list-style: none;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    white-space: nowrap;
    text-transform: capitalize;
    color: #222;
    vertical-align: baseline;
    top: 0.1em;
    margin: 0 7px;
    height: 1em;
    content: "";
    border-left: 1px solid #d0d0d0;
    display: inline-block;
    position: relative;
    float: none;
    width: 0;
}